services:
  db:
    image: postgres:16-alpine
    container_name: absensi_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: absensi
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: absensi_app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5433
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: absensi
      GIN_MODE: debug # debug, release
    depends_on:
      - db

volumes:
  postgres_data: